<nav class="navbar navbar-expand-md navbar-dark bg-gunmetal">
    
    <div class="container">

        {{!-- Brand Name And Logo --}}
        <a class="navbar-brand text-pastelyellow" href="/dashboard">
            <img src="assets/images/site/jabber-logo.png" alt="Jabber Logo" class="img-fluid jabber-logo">
            <strong>JABBER</strong>
        </a>

        {{!-- Navbar Toggler - Stays at right upper corner on small and extra small device --}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primary-navigation" aria-controls="primary-navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="primary-navigation">
            
            {{!-- Primary Navigation Menu --}}
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                {{!-- If user is logged in, he/she shouldn't see login, register --}}
                {{#if user}}
                
                    <form action="/dashboard/search" method="POST">
                       <span class="form-inline my-2 my-lg-0">
                             <input type="text" class="form-control mr-sm-2" id="lookup" name="search" placeholder="Search a user by email">
                             <button type="submit" class="btn bg-junglegreen text-white my-2 my-sm-0" id="searchbtn"><i class="fas fa-search"></i></button>
                       </span>
                   </form>

                    <li class="nav-item">
                        <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/update">
                            <i class="fas fa-user-circle"></i> {{ user.firstname }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/signout">
                            <i class="fas fa-sign-in-alt"></i> Logout
                        </a>
                    </li>

                {{else}}
            
                    <li class="nav-item">
                        <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/signin">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/signup">
                            <i class="fas fa-user-plus"></i> Register
                        </a>
                    </li>

                {{/if}}

                <li class="nav-item">
                    <a class="nav-link text-pastelyellow hvr-underline-from-center" href="/contactus">
                        <i class="fas fa-envelope"></i> Contact Us
                    </a>
                </li>

            </ul>
            
        </div>{{!-- primary menu --}}
    </div> {{!-- container --}}
</nav> {{!-- nav --}}