<!DOCTYPE html>
<html lang="en">
    
    <head>
        
        {{!-- Required meta tags --}}
        <title>Jabber</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {{!-- Bootstrap CSS --}}
        {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> --}}
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        
        {{!-- Font Awesome 5.0.2 --}}
        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>

        {{!-- Google Font --}}
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        
        {{!-- Animate CSS --}}
        <link rel="stylesheet" href="/stylesheets/animate.css">
        
        {{!-- Hover CSS --}}
        <link rel="stylesheet" href="/stylesheets/hover.css">
        
        {{!-- Custom CSS (should be at the end so that no other css style can override it) --}}
        <link rel="stylesheet" href="/stylesheets/jabber.css">

    </head>

    <body>
        
        {{>header}}

        {{!-- Flash Message Container --}}
        <div class="container notifications">
            <div class="row">
                
                {{#if success_msg }}
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 offset-xl-3 offset-lg-3 offset-0 alert alert-success">
                        {{ success_msg }}
                    </div>
                {{/if}}

                {{#if error_msg }}
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 offset-xl-3 offset-lg-3 offset-0 alert alert-danger">
                        {{ error_msg }}
                    </div>
                {{/if}}

                {{#if error }}
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 offset-xl-3 offset-lg-3 offset-0 alert alert-danger">
                        {{ error }}
                    </div>
                {{/if}}

            </div>
        </div>

        {{{body}}}

        {{>footer}}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  
        {{!-- Custom JavaScript (should be at the end so that no other script can override it) --}}
        <script src="/javascripts/jabber.js"></script>
    </body>
    
</html>