/* Custom CSS File */
/* --------------- */
/* Project Title : JABBER */
/* Team Members : 
    1) Jamal
    2) Jeff
    3) Kalpesh
    4) Peter */
/* Starting Date : 01-03-2018 */
/* Version : 1.0.0 */
/* Copyright reserved 2018 */
/* ----------------------- */

html,
body {
    height: 100%;
    /*background-color: #EEE;*/
    font-family: 'Abel', sans-serif;
}

/* Navbar */
.navbar-brand:hover {
    color: #E84855 !important;
}
.navbar-nav > .nav-item > .nav-link:hover {
    color: #E84855 !important;
}
.jabber-logo {
    width: 40px;
}

/* Homepage */
#definition {
	max-width: 40%;
	margin: 100px 0 0 0;
}


/* Jumbotron */
.jumbotron {
    background-color: #FFF;
    border-radius: 0;
}
.jumbotron > .container-fluid > .btn:hover {
    background-color: #2D3047 !important;
}

/* Sign In Section */
.card-sign-in,
.card-sign-up,
.card-contact-us {
    margin: 20px 0px;
    border: 2px solid #1B998B;
    box-shadow: 5px 5px 5px #CCC;
}
.btn-signin:hover {
    cursor: pointer;
    background-color: #2D3047 !important;
}
textarea:focus,
input:focus {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.nav-tabs .nav-item:hover {
    border-top: 2px solid #1B998B;
}
.nav-tabs .nav-item:active {
    border-top: 2px solid #FF9B71;
}
.file-upload {
    margin: auto;
}

/* Custom classes */
.wrapper {
    /* wrapper's height = calc(100% - (header's(navbar) height + footer's height)) */
    /* This is to keep footer at the bottom of the page ( If page height is less than browser's height (100%) ) */
    min-height: calc(100% - (56px + 64px)) !important;
}
.user-panel {
    margin-top: 20px;
}
.profile-picture {
    width: 150px;
    margin: 0 0 20px 0;
}
.post-picture{
    width: 64px;
}
.user-picture {
    width: 400px;
}
.update-task {
    display: none;
}
.hr-half{
	max-width: 50%;
	border-width: 3px;
    border-color: #FF9B71;
}
.hr-full{
    max-width: 100%;
    border-width: 3px;
    border-color: #FF9B71;
}

/* Profile (dashboard) */
#btn-profile-update {
	display: none;
}

/* Background color classes */
.bg-junglegreen {
    background-color: #1B998B !important;
}
.bg-gunmetal {
    background-color: #2D3047 !important;
}
.bg-pastelyellow {
    background-color: #FFFD82 !important;
}
.bg-pinkorange {
    background-color: #FF9B71 !important;
}
.bg-desire {
    background-color: #E84855 !important;
}

/* Text color classes */
.text-junglegreen {
    color: #1B998B !important;
}
.text-gunmetal {
    color: #2D3047 !important;
}
.text-pastelyellow {
    color: #FFFD82 !important;
}
.text-pinkorange {
    color: #FF9B71 !important;
}
.text-desire {
    color: #E84855 !important;
}

/* Footer */
.footer {
    background-color: #2D3047;
    color: #FFF;
    padding: 20px 0;
    margin-top: 1px;
}

/* Media Queries */
/* ------------- */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}