<div class="jumbotron wrapper d-flex mb-0">
    <div class="container-fluid align-self-center text-center">
        
        <h1 class="animated bounceIn">Welcome to Jabber !</h1>
        <hr class="hr-half">
        
        <a href='/signin' class="btn bg-junglegreen text-white animated fadeIn hvr-float-shadow">
            <i class="fas fa-sign-in-alt"></i> | Login
        </a>

        <a href='/signup' class="btn bg-junglegreen text-white animated fadeIn hvr-float-shadow">
            <i class="fas fa-user-plus"></i> | Register
        </a>

    </div>
</div>