<div class="jumbotron wrapper d-flex mb-0">
    <div class="container-fluid align-self-center text-center">
        
        <h1>Welcome to Jabber !</h1>
        <hr class="hr-heading">
        
        <a href='/signin' class="btn bg-junglegreen text-white">
            <i class="fas fa-sign-in-alt"></i> | Sign In
        </a>

        <a href='/signup' class="btn bg-junglegreen text-white">
            <i class="fas fa-user-plus"></i> | Register
        </a>

    </div>
</div>